:root {
  --main-bg-color: #FFF;
}

* {
    box-sizing: border-box;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    max-width: 70ch;
    padding: 3em 1em;
    margin: auto;
    line-height: 1.75;
    font-size: 1.25em;
  }

body {
    background-color: var(--main-bg-color);
}

nav {
    display: flex;
    gap: 10px;
}

/*
-------------------------------------------------------------------
YOUR SECTIONS
-------------------------------------------------------------------
*/

/*
-------------------------------------------------------------------
MEDIA QUERIES
-------------------------------------------------------------------
*/
